<!-- wp:template-part {"slug":"header"} /-->

<main>
	<section id="description">
		<article>
			<header>
				<!-- wp:site-tagline {"level":2} /-->
			</header>
			<div>
				<p>Descripción de la empresa</p>
			</div>
		</article>
	</section>

	<section id="services">
		<article>
			<header>
				<h2>Servicios</h2>
			</header>
			<div>
				<p>Descripción de los servicios</p>
				<ul>
					<li>
						<h3>Servicio 1</h3>
						<p>Descripción del servicio 1</p>
					</li>
					<li>
						<h3>Servicio 2</h3>
						<p>Descripción del servicio 2</p>
					</li>
					<li>
						<h3>Servicio 3</h3>
						<p>Descripción del servicio 3</p>
					</li>
					<li>
						<h3>Servicio 4</h3>
						<p>Descripción del servicio 4</p>
					</li>
				</ul>
			</div>
		</article>
	</section>

	<section id="list-posts">
		<article>
			<header>
				<h2>Últimas publicaciones</h2>
			</header>
		</article>
		<!-- wp:pattern {"slug":"miniblockbasic/template-query-loop"} /-->
	</section>

	<section id="contact">
		<article>
			<header>
				<h2>Contacto</h2>
			</header>
			<div>
				<p>Dirección de correo electrónico:</p>
				<p>Teléfono:</p>
				<p>Fax:</p>
			</div>
		</article>
	</section>
	
</main>

<aside id="sidebar">
	<!-- wp:template-part {"slug":"sidebar"} /-->
</aside>

<!-- wp:template-part {"slug":"footer"} /-->
