<!-- wp:template-part {"slug":"header"} /-->

<main>
	<section class="post">
		<article>
			<header>
				<!-- wp:post-title {"level":1} /-->

				<!-- wp:pattern {"slug":"miniblockbasic/hidden-written-by"} /-->

			</header>
			<div>
				<!-- wp:post-featured-image {"aspectRatio":"3/2"} /-->

				<!-- wp:post-content /-->
			</div>

			<div class="tags">
				<!-- wp:post-terms {"term":"post_tag","separator":""} /-->
			</div>
		</article>
		<div id="navegation-by-post">
			<!-- wp:pattern {"slug":"miniblockbasic/post-navigation"} /-->
		</div>
	</section>

	<section id="comments">
		<!-- wp:pattern {"slug":"miniblockbasic/comments"} /-->
	</section>
	
</main>

<aside id="sidebar">
	<!-- wp:template-part {"slug":"sidebar"} /-->
</aside>

<!-- wp:template-part {"slug":"footer"} /-->
