<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main>
	<!-- wp:group -->
	<div>
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-featured-image {"aspectRatio":"3/2"} /-->
		<!-- wp:pattern {"slug":"miniblockbasic/hidden-written-by"} /-->
		<!-- wp:post-content /-->
		<!-- wp:group -->
		<div>
			<!-- wp:post-terms {"term":"post_tag","separator":"  ","className":"is-style-post-terms-1"} /-->
		</div>
		<!-- /wp:group -->
		
		<!-- wp:pattern {"slug":"miniblockbasic/post-navigation"} /-->
		<!-- wp:pattern {"slug":"miniblockbasic/comments"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"miniblockbasic/more-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar"} /-->

<!-- wp:template-part {"slug":"footer"} /-->
