@font-face {
	font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
	font-weight: 300 700;
  font-style: normal;
  font-display: swap;
	src: url('/assets/fonts/FiraCode-VariableFont_wght.woff2') format('woff2-variations');
}

@font-face {
	font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
	font-weight: 200 800;
  font-style: normal;
  font-display: swap;
	src: url('/assets/fonts/Manrope-VariableFont_wght.woff2') format('woff2-variations');
}